* {
  margin: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
    Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
}

.home-body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #000;
}

.buttons-pannel-icon {
  display: none;
}
.buttons-pannel {
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  width: 50vw;
  background-color: #000000;
  transition: all 0.3s;
  overflow: hidden;
  /* backdrop-filter: blur(20px); */
  box-shadow: 10px 10px 1000px 20px rgb(0, 0, 0);
}

.hidden-buttons-pannel {
  width: 0;
}

.buttons-pannel .btn {
  margin-top: 200px;
  overflow: visible;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  height: 40px;
  background-color: rgb(0, 0, 0);
  color: white;
  cursor: pointer;
  transition: all 0.2s;
}
.buttons-pannel .btn:hover {
  background-color: rgb(42, 42, 42);
}
.buttons-pannel .activated {
  margin-bottom: 0;
  background-color: #38dc64;
}
.buttons-pannel .activated:hover {
  background-color: #38dc64;
}
.pannel-categories-container {
  transition: all 0.4s;
  width: 100%;
  height: 100%;

  overflow: scroll;
}

.pannel-categories-container::-webkit-scrollbar {
  display: none;
}

.hidden-pannel-categories-container {
  margin-top: 0;
  height: 0vh;
}
.pannel-categories-container .pannel-category-box {
  height: 1.3rem;
  cursor: pointer;
  text-align: center;
  background-color: rgb(42, 42, 42);
}
.pannel-categories-container .pannel-category-box:hover {
  background-color: #000;
}

.nav {
  padding: 0 60px 0 0px;
  position: fixed;
  z-index: 1;
  display: flex;
  height: 50px;
  width: 100%;
  background: rgba(64, 64, 64, 0.5);
  backdrop-filter: blur(20px);
  align-items: center;
  color: white;
  max-width: 100%;
}
.nav .categories-button {
  display: flex;
  justify-content: center;
  height: 100%;
  padding: 0 12%;
  cursor: pointer;
  align-items: center;
}

.categories {
  z-index: 1;
  position: fixed;
  width: 300px;
  height: 0;
  overflow: scroll;
  transition: all 0.3s;
}
.categories::-webkit-scrollbar {
  display: none;
}

.categories .category-box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  background: rgba(64, 64, 64, 0.8);
  backdrop-filter: blur(200px);
  border: 1px solid black;
  text-align: center;
  font-weight: 300;
  cursor: pointer;
  color: white;
  transition: all 0.1s;
  font-weight: 500;
}

.categories div:hover {
  background-color: white;
  color: black;
}
.active {
  height: 620px;
}
.nav-buttons-container {
  margin-left: 2%;
  display: flex;
  align-items: center;
  width: 20%;
  margin-right: 10%;
}
.nav .categories-button {
  transition: 0.2s;
}
.nav .categories-button:hover {
  background-color: black;
}
.nav .all-movies-btn {
  display: flex;
  justify-content: center;
  height: 50px;
  padding: 0 12%;
  cursor: pointer;
  align-items: center;
  transition: 0.2s;
}

.nav .all-movies-btn:hover {
  background-color: #000;
}

.nav .add-movie-button {
  height: 50px;
  width: 70px;
  padding: 0 12%;
  cursor: pointer;
  border-style: none;
  outline: none;
  transition: 0.2s;
  background: #38dc64;
  font-size: 16px;
  color: white;
  background-color: rgba(0, 0, 0, 0);
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

.nav .add-movie-button:hover {
  background-color: black;
}

.add-movie-link {
  text-decoration: none;
}

.search-bar {
  z-index: -1;
  margin: 0;
  padding: 0;
  border-radius: 20px;
  height: 40px;
  /* min-width: 200px; */
  width: 40vw;
  display: inline-block;
  margin-right: 40px;
  border-style: none;
  text-align: center;
  font-size: 20px;
  background-color: #000;
  outline: none;
  color: white;
}
.nav .search-btn {
  height: 36px;
  width: 80px;
  cursor: pointer;
  border-style: none;
  outline: none;
  transition: 0.2s;
  background: rgb(255, 255, 255);
  /* background-image: url('https://cdn2.iconfinder.com/data/icons/ios-7-icons/50/search-512.png'); */
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 50%;
  border-radius: 36px;
  font-size: 16px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
}
.nav .search-btn:hover {
  background-color: #38dc64;
  color: white;
}
.buttons-pannel-icon {
  height: 50px;
  width: 80px;
  background-image: url('https://icon-library.com/images/three-bars-icon/three-bars-icon-5.jpg');
  background-size: 50%;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
}

.film-container {
  padding-top: 40px;
  padding-top: 4 0px;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  /* margin-top: ; */
}

.film-card {
  max-width: 200px;
  height: auto;
  margin: auto;
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  /* transition: all 0.1s; */
  cursor: pointer;
  text-align: center;
  text-decoration: none;
}
.no-such-movie {
  overflow-x: visible;
  display: flex;
  justify-content: center;
  width: 100vw;
  position: absolute;
  z-index: 999;
  background-color: rgb(12, 12, 12);
  opacity: 0.5;
  top: 50%;
  right: 0;
  transition: all 1s;
}

.film-card img {
  /* max-width: 200px; */
  transition: all 0.14s;
  overflow: hidden;
  border-radius: 4px;
}

h2 {
  color: white;
  transition: all 0.14s;
}
.film-card:hover img {
  transform: scale(1.1);
  border-radius: 16px;
}

.film-card:hover h2 {
  transform: translateY(-8px);
  opacity: 0;
}
@media screen and (max-width: 1300px) {
  .film-container {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
}

@media screen and (max-width: 1050px) {
  .film-container {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
@media screen and (max-width: 860px) {
  .film-container {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .nav {
    justify-content: space-between;
    padding-right: 10px;
  }
  .nav .search-bar {
    margin-right: 0;
  }
}
@media screen and (max-width: 630px) {
  .film-container {
    width: 100%;
  }
  .film-card {
    width: 28vw;
    font-size: 0.8rem;
  }
}
@media screen and (max-width: 564px) {
  .buttons-pannel-icon {
    display: inline-block;
    cursor: pointer;
  }

  .search-bar {
    width: 60%;
  }
  .nav-buttons-container {
    display: none;
  }
}
