* {
  margin: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
    Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
}
/* ----------------------HOME PAGE----------------------- */

.home-body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #000;
}
.nav {
  padding: 0 60px 0 60px;
  position: fixed;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  height: 7vh;
  /* min-height: 70px; */
  width: 100%;
  background: rgba(64, 64, 64, 0.5);
  backdrop-filter: blur(20px);
  align-items: center;
  color: white;
}
.nav .categories-button {
  display: flex;
  justify-content: center;
  margin: 10px;
  height: 100%;
  padding: 0 20px 0 20px;
  cursor: pointer;
  align-items: center;
}

.categories {
  z-index: 1;
  position: fixed;
  width: 300px;
  height: 0;
  overflow: scroll;
  transition: all 0.3s;
}
.categories::-webkit-scrollbar {
  display: none;
}

.categories div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  background: rgba(64, 64, 64, 0.8);
  backdrop-filter: blur(200px);
  border: 1px solid black;
  text-align: center;
  font-weight: 300;
  cursor: pointer;
  color: white;
  transition: all 0.1s;
  font-weight: 500;
}

.categories div:hover {
  background-color: white;
  color: black;
}
.active {
  height: 620px;
}
.nav .categories-button {
  transition: 0.2s;
}
.nav .categories-button:hover {
  background-color: black;
}
.nav .all-movies-btn {
  display: flex;
  justify-content: center;
  height: 100%;
  padding: 0 30px 0 30px;
  cursor: pointer;
  align-items: center;
  transition: 0.2s;
}

.nav .all-movies-btn:hover {
  background-color: #000;
}

.search-bar {
  margin: 0;
  padding: 0;
  border-radius: 20px;
  height: 40px;
  min-width: 400px;
  width: 40vw;
  display: inline-block;
  margin-right: 40px;
  border-style: none;
  text-align: center;
  font-size: 20px;
  background-color: #000;
  outline: none;
  color: white;
}
.nav .search-btn {
  height: 64%;
  width: 70px;
  cursor: pointer;
  border-style: none;
  outline: none;
  transition: 0.2s;
  background: #38dc64;
  border-radius: 12px;
  font-size: 16px;
  color: white;
}
.nav .search-btn:hover {
  background-color: #000;
}

.nav .add-movie-button {
  display: inline-block;
  margin: 10px;
  height: 60%;
  width: 60px;
  background-image: url('https://www.freepnglogos.com/uploads/plus-icon/plus-icon-plus-svg-png-icon-download-1.png');
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
  transition: all 2s;
  transition-duration: 0.3s;
}

.nav .add-movie-button:hover {
  transform: rotateX(180deg);
}

.film-container {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  min-width: 100px;
}

.film-card {
  max-width: 200px;
  height: auto;
  margin: auto;
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  transition: all 3s;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
}
.no-such-movie {
  overflow-x: visible;
  display: flex;
  justify-content: center;
  width: 100vw;
  position: absolute;
  z-index: 999;
  background-color: rgb(12, 12, 12);
  opacity: 0.5;
  top: 50%;
  right: 0;
  transition: all 1s;
}

.film-card img {
  /* max-width: 200px; */
  transition: all 0.2s;
  overflow: hidden;
}

h2 {
  color: white;
}
.film-card:hover img {
  filter: blur(2px);
  transform: scale(1.05);
}

/* ----------------------MOVIE-DETAILS PAGE----------------------- */
.artist-pannel {
  position: fixed;
  min-width: 40%;
  max-height: 500px;
  top: 50%;
  left: 50%;
  border-radius: 8px;
  transform: translate(-50%, -50%);
  overflow-y: scroll;
  background-color: rgba(64, 64, 64, 0.5);
  backdrop-filter: blur(30px);
  transition: all 0.3s;
  box-shadow: 10px 10px 1000px 20px rgb(0, 0, 0);
  opacity: 1;
}

.artist-pannel::-webkit-scrollbar {
  display: none;
}
.hidden-artist-pannel {
  opacity: 0;
  display: none;
}
.search-artist-bar-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  min-height: 70px;
}

.search-artist-bar {
  min-height: 40px;
  min-width: 60%;
  max-width: 300px;
  border: none;
  outline: none;
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  text-align: center;
  font-size: 20px;
  transition: all 0.2s;
}
.search-artist-btn {
  min-width: 40px;
  height: 40px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  width: 80px;
  background-color: #000;
  color: white;
  text-align: center;
  transition: all 0.2s;
  font-size: 16px;
}

.search-artist-btn:hover {
  background-color: #ffffff;
  color: black;
}
.search-artist-button-container {
  width: 30%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.cancel-btn {
  min-width: 40px;
  height: 40px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  width: 70px;
  background-color: #000;
  color: white;
  text-align: center;
  transition: all 0.2s;
  font-size: 16px;
}
.cancel-btn:hover {
  background-color: #ff6347;
}

.artist-box {
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 50px;
  height: 100px;
  width: 100%;

  cursor: pointer;
  transition: all 0.2s;
}
.artist-box:hover {
  background-color: rgba(128, 128, 128, 0.5);
}
.artist-box-image {
  max-height: 100%;
}
.no-result {
  width: 100%;
  text-align: center;
  display: flex;
  width: 100%;
  justify-content: center;
  min-height: 50px;
}
.blur-background {
  display: flex;
  background-size: cover;
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 80%;
  filter: blur(100px);
  opacity: 0.5;
  background: #000;
}

.main-container {
  width: 100%;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;

  color: white;
  background: rgba(0, 0, 0, 0);
}

.poster {
  /* min-width: auto; */
  /* height: auto; */
  background-size: contain;
  background-repeat: no-repeat;
  margin-right: 20px;
}

.info-container {
  width: 60%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.except-cast {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 70%;
}

.first-row {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  height: 20%;
}
.title {
  width: 75%;
  border-style: none;
  outline: none;
  background: rgba(0, 0, 0, 0);
  color: white;
  /* position: relative; */
  font-size: 44px;
  text-overflow: ellipsis;
}
.buttons {
  font-size: 20px;
  width: 150px;
  display: flex;
  height: 36px;
  justify-content: space-between;
}
.edit-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 2px;
  border: 1px solid white;
  overflow: hidden;
  width: 64%;
  border-radius: 24px;
  color: white;
  transition: 0.4s;
  cursor: pointer;
  /* display: none; */
}
.edit-btn:hover {
  background-color: white;
  color: black;
}

.save-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 2px;
  border: none;
  overflow: hidden;
  width: 64%;
  border-radius: 24px;
  background-color: #38dc64;
  color: white;
  transition: 0.4s;
  cursor: pointer;
  animation-duration: 3s;
  color: black;
}
.save-btn:hover {
  background-color: #38dc64;
}
.nonclickable {
  pointer-events: none;
  opacity: 0.5;
}

.delete-btn {
  border: 1px solid white;
  text-align: center;
  overflow: hidden;
  height: 100%;
  width: 26%;
  background-color: white;
  border-radius: 24px;
  transition: 0.2s;
  cursor: pointer;
}
.delete-btn:hover {
  border: none;
  background-color: tomato;
}

.inactive-delete-movie {
  pointer-events: none;
}

.genres-text {
  height: 10%;
  font-size: 20px;
}
.genres-pannel {
  position: relative;
  display: flex;
  background: rgba(64, 64, 64, 0.5);
  width: 100%;
  border-radius: 2px;
  color: white;
  transition: all 0.2s;
  margin-top: 8px;
  overflow-y: hidden;
  overflow: scroll;
  height: 90px;
  flex-wrap: wrap;
}
.hidden-genres-pannel {
  height: 0;
}
.genres-pannel::-webkit-scrollbar {
  display: none;
}
.genre-box {
  margin: 4px;
  padding: 2px 8px 2px 8px;
  height: 24px;
  width: max-content;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: rgb(64, 64, 64);
  border-radius: 16px;
  transition: all 0.3s;
  cursor: pointer;
}

.description-block {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  height: 70%;
}
.description-text {
  overflow-x: scroll;
  height: 200px;
  text-align: left;
  font-size: 20px;
  outline: none;
  border-style: none;
}
.description-block::-webkit-scrollbar {
  display: none;
}
.description-text::-webkit-scrollbar {
  display: none;
}
.description-text {
  border-style: none;
  text-justify: distribute;
  color: white;
  background-color: rgba(0, 0, 0, 0);
}
.cast {
  height: 40%;
  padding-top: 20px;
  display: flex;
  flex-direction: row;
  width: 100%;
  overflow-x: scroll;
  overflow-y: visible;
}
.cast::-webkit-scrollbar {
  display: none;
}
.artist {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  min-width: 140px;
  background-size: contain;
  margin-right: 30px;
  height: 100%;
  text-align: center;
  color: white;
  transition: all 0.2s;
  justify-content: center;
  align-items: center;
}

.artist .artist-photo {
  width: 150px;
  height: 180px;
  /* background-image: url('https://cdn.wallpapersafari.com/76/7/wklvAb.jpg'); */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 4px;
  transition: all 0.2s;
  cursor: pointer;
}
.artist .artist-photo:hover {
  transform: translateY(-2px);
}

.add-artist {
  opacity: 0.5;
  transition: all 0.3s;
}
.add-artist:hover {
  opacity: 1;
}
.add-artist .artist-photo {
  background-image: url('https://cdn5.vectorstock.com/i/thumb-large/45/59/profile-photo-placeholder-icon-design-in-gray-vector-37114559.jpg');
}
.hidden-add-btn {
  pointer-events: none;
  opacity: 0;
}
.remove-artist-btn-container {
  padding: 0 4px 0 4px;
  width: 100%;
  /* height: 30px; */
  background: rgba(0, 0, 0, 0);
  display: flex;
  justify-content: center;
}
.remove-artist-btn {
  padding: 0 4px 4px 4px;
  width: 60%;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70px;
  background-color: rgba(64, 64, 64, 0.5);
  margin-bottom: 8px;
  transition: all 0.2s;
  cursor: pointer;
  border-radius: 16px;
  opacity: 1;
}
.remove-artist-btn:hover {
  background-color: tomato;
}

/*  */

.hidden-remove-artist-btn {
  opacity: 0;
  pointer-events: none;
}

.fake-remove-artist-btn {
  padding: 0 4px 0 4px;
  width: 60%;
  height: 42px;
  width: 50px;
  margin-bottom: 4px;
  transition: all 0.2s;
  cursor: pointer;
  opacity: 0;
  pointer-events: none;
}

.fake-details-body {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding: 30px 20px;
  background-size: cover;
}
.fake-details-body::-webkit-scrollbar {
  display: none;
}

/* ----------------------ARTIST DETAILS PAGE----------------------- */
.ad-body {
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  padding: 1.5em;
  line-height: 1.9em;
  color: white;
  min-height: 100vh;
  background: rgba(0, 0, 0, 0.6);
}
.ad-blur-background {
  z-index: -5;
  position: fixed;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  filter: blur(200px);
}
.ad-profile-photo {
  max-width: 90%;
  display: block;
  margin-bottom: 1em;
}
.ad-basic-infos {
  margin-bottom: 20px;
}
.ad-biography {
  margin-bottom: 40px;
}
.ad-container {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
@media screen and (min-width: 1024px) {
  .ad-biography-text {
    font-size: 1.8vw;
  }
}
@media screen and (min-width: 1500px) {
  .ad-body {
    padding: 3em;
  }
  .ad-basic-infos {
    padding-top: 40px;
    flex-basis: 40%;
  }
  .ad-name {
    font-size: 40px;
    margin-top: 30px;
  }
  .ad-place-of-birth {
    margin-top: 30px;
    font-size: 16px;
  }

  .ad-biography-text {
    padding-top: 40px;
    font-size: 1.45vw;
    max-height: 100%;
  }
  .biography {
    overflow-y: scroll;
  }
  .biography::-webkit-scrollbar {
    display: none;
  }
  .ad-splitter {
    display: flex;
    flex-direction: row;
  }

  .ad-profile-photo {
    max-width: 60%;
  }

  .ad-container {
    align-items: center;
    justify-content: space-around;
  }
  .ad-biography {
    flex-basis: 90%;
    text-align: left;
  }
}

/* ----------------------CREATE MOVIE PAGE----------------------- */
.cm-body {
  color: white;
  padding: 0px;
  margin: 0;
}
.cm-container {
  padding: 1rem;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  max-width: 100%;
}
.cm-title,
.cm-description,
.cm-poster-path {
  outline: none;
  height: 3rem;
  margin-bottom: 20px;
  width: 90%;
  /* min-width: 320px; */
  border-radius: 8px;
  border-style: none;
  padding: 0 4px;
  background-color: rgb(63, 63, 63);
  color: white;
  font-size: 1.5rem;
}
.cm-body h2 {
  margin: 20px 0;
}

.cm-genre-box {
  display: inline-block;
  text-align: center;
  height: min-content;
  margin: 4px 4px;
  padding: 2px 10px;
  transition: all 0.2s;
  cursor: pointer;
  border-radius: 16px;
}

.cm-cast {
  overflow-x: scroll;
  border: 2px solid black;
  width: 100%;
  margin-top: 20px;
  height: 10rem;
  display: flex;
}
.cm-artist {
  min-width: 90px;
  height: 100%;
  width: 6rem;
  margin-right: 20px;
  display: flex;
  flex-direction: column;
  transition: all 0.2s;
}
.cm-remove-artist-btn-container {
  flex-basis: 10%;
  padding-bottom: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.cm-remove-artist-btn {
  height: 100%;
  width: 80%;
  padding: 2px 4px;
  text-align: center;
  border-radius: 12px;
  background-color: rgba(64, 64, 64, 0.6);
  transition: all 0.2s;
  cursor: pointer;
}
.cm-remove-artist-btn:hover {
  background-color: tomato;
}
.cm-artist-photo {
  flex-basis: 80%;
  max-width: 100%;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  transition: all 0.2s;
}
.cm-add-artist {
  cursor: pointer;
  transition: all 0.2s;
}
.cm-add-artist:hover {
  transform: translateY(-20px);
}
.cm-fake-remove-artist-btn-container {
  flex-basis: 100%;
}

.cm-add-artist-photo {
  max-width: 96px;
  min-height: 123px;
  flex-basis: 100%;
  background-image: url('https://cdn5.vectorstock.com/i/thumb-large/45/59/profile-photo-placeholder-icon-design-in-gray-vector-37114559.jpg');
  background-size: cover;
  background-position: center;
}
.cm-artist-pannel {
  position: fixed;
  width: 80%;
  max-width: 1000px;
  max-height: 500px;
  top: 50%;
  left: 50%;
  border-radius: 8px;
  transform: translate(-50%, -50%);
  overflow-y: scroll;
  background-color: rgba(64, 64, 64, 0.5);
  backdrop-filter: blur(30px);
  transition: all 0.3s;
  box-shadow: 10px 10px 1000px 20px rgb(0, 0, 0);
  opacity: 1;
}
.cm-hidden-artist-pannel {
  display: none;
}
.cm-search-artist-bar-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  min-height: 70px;
}

.cm-search-artist-bar {
  margin-top: 20px;
  min-height: 40px;
  width: 100%;
  max-width: 300px;
  border: none;
  outline: none;
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  text-align: center;
  font-size: 20px;
  transition: all 0.2s;
}

.cm-search-artist-btn:hover {
  background-color: #ffffff;
  color: black;
}
.cm-search-artist-button-container {
  margin-top: 20px;
  width: 80%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.cm-search-artist-btn {
  min-width: 120px;
  height: 40px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  width: 80px;
  background-color: #000;
  color: white;
  text-align: center;
  transition: all 0.2s;
  font-size: 16px;
}

.cm-cancel-btn {
  min-width: 120px;
  height: 40px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  background-color: #000;
  color: white;
  text-align: center;
  transition: all 0.2s;
  font-size: 16px;
}
.cm-cancel-btn:hover {
  background-color: #ff6347;
}

.cm-artist-box {
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 50px;
  height: 100px;
  width: 100%;

  cursor: pointer;
  transition: all 0.2s;
}
.cm-artist-box:hover {
  background-color: rgba(128, 128, 128, 0.5);
}
.cm-artist-box-image {
  max-height: 100%;
}
.cm-no-result {
  width: 100%;
  text-align: center;
  display: flex;
  width: 100%;
  justify-content: center;
  min-height: 50px;
}
#cm-buttons-container {
  display: flex;
  flex-direction: column;
}
.cm-save-movie-button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.6rem;
  width: 70%;
  max-width: 500px;
  height: 4rem;
  background-color: #38dc64;
  margin-bottom: 1.2rem;
  border-radius: 32px;
  display: flex;
  cursor: pointer;
  transition: all 0.2s;
}
.cm-cancel-process-button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.6rem;
  text-align: center;
  width: 70%;
  max-width: 500px;
  height: 4rem;
  background-color: gray;
  border-radius: 32px;
  cursor: pointer;
  color: white;
  text-decoration: none;
  transition: all 0.2s;
}

.cm-cancel-process-button:hover {
  transform: scale(1.05);
}
.cm-save-movie-button:hover {
  transform: scale(1.05);
}

@media screen and (min-width: 700px) {
  .cm-genre-box {
    font-size: 1.4rem;
    margin: 0.2em 0.2em;
  }
  .cm-search-artist-bar-container {
    flex-direction: row;
  }
  .cm-genres-pannel {
    margin-bottom: 4rem;
  }
  .cm-body h2 {
    margin: 0 0 4rem 0;
  }
  .cm-search-artist-button-container {
    min-width: 270px;
    width: 30%;
    justify-content: space-around;
  }
  .cm-search-artist-bar {
    max-width: none;
    width: 60%;
  }
}
@media screen and (min-width: 1200px) {
  .cm-body h2 {
    margin: 0 0 4rem 0;
    font-size: 2em;
  }
  .cm-genres-pannel {
    margin-bottom: 2rem;
  }
  .cm-body {
    padding: 6rem;
  }
  #cm-inputs-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  #cm-relations-container {
    max-width: 50%;
  }
  .cm-splitter {
    display: flex;
  }
  .cm-container {
    flex-basis: 100%;
  }

  .cm-title,
  .cm-description,
  .cm-poster-path {
    height: 4rem;

    /* min-width: 320px; */

    font-size: 2rem;
  }
}
