body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(12, 12, 12);
}
.nav {
  z-index: 1;
  display: flex;
  justify-content: space-around;
  height: 6vh;
  /* min-height: 70px; */
  width: 100%;
  background-color: rgb(53, 53, 53);
  align-items: center;
}
.search-bar {
  margin: 0;
  padding: 0;
  border-radius: 20px;
  height: 40px;
  min-width: 400px;
  width: 40vw;
  display: inline-block;
  margin-right: 20px;
  border-style: none;
}

.nav .categories-button {
  display: flex;
  margin: 10px;
  height: 100%;
  width: min-content;
  padding: 0 20px 2px 20px;
  background-color: aqua;
  cursor: pointer;
  align-items: center;
}

.categories {
  z-index: 1;
  position: absolute;
  width: 300px;
  height: 0;
  overflow: hidden;
  transition: all 0.3s;
}

.categories div {
  height: 30px;
  background-color: rgb(48, 48, 48);
  backdrop-filter: blur(20px);
  border: 1px solid black;
  text-align: center;
  font-weight: 300;
  cursor: pointer;
  color: white;
  transition: all 0.1s;
  font-weight: 500;
}

.categories div:hover {
  background-color: rgb(255, 244, 244);
  color: black;
}
.active {
  height: 620px;
}
.nav .categories-button:hover .categories {
  min-height: 200px;
}

.nav .add-movie-button {
  display: inline-block;
  margin: 10px;
  height: 60%;
  width: 60px;
  background-image: url('https://www.freepnglogos.com/uploads/plus-icon/plus-icon-plus-svg-png-icon-download-1.png');
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
  transition: all 2s;
  transition-duration: 0.3s;
}

.nav .add-movie-button:hover {
  transform: rotateX(180deg);
}

.film-container {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  min-width: 100px;
}

.film-card {
  max-width: 200px;
  height: auto;
  margin: auto;
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  transition: all 3s;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
}

img {
  /* max-width: 200px; */
  transition: all 0.2s;
  overflow: hidden;
}

h2 {
  color: white;
}
.film-card:hover img {
  filter: blur(2px);
  transform: scale(1.05);
}
